<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Sample App</h1>
    </header> 
    <table>
        <tr>
          <th>Food</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>Cabbage</td>
          <td>$100</td>
        </tr>
      </table> 
    <div>
        <button type="button">DO NOT CLICK</button>
        <h2 id="count">0</h2>
        <button id="increase-button" onclick="increment()">Press</button>
        <button id="decrease-button" onclick="decrease()">Decrease</button>
    </div>


    <div class="wrapper">
      <form class="form" name="Anime">
        <label id= "anime">
          <input type="text" name="anime" placeholder="anime" required/>
        </label><br>

        <label id= "character">
          <input type="text" name="character" placeholder="Favourite Character" required/>
        </label><br>
        <input type="submit" value="submit" name="submit">
      </form>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <form action="/list">
        <input type="submit" value="LISTING" name="LIST">
      </form>

    <script src="index.js"></script>


</body>
</html>

